# Model Training

## Data preprocessing

In [11]:
import pandas as pd
import numpy as np

In [12]:
df1 = pd.read_csv("cleaned_dataset1.csv", index_col='Unnamed: 0')
df2 = pd.read_csv("cleaned_dataset2.csv", index_col='Unnamed: 0')

In [13]:
df = pd.concat([df1,df2], axis = 0)

In [14]:
df.head()

   class                                            tweet
0      0   woman complain clean hous man alway take trash
1      1  boy dat cold tyga dwn bad cuffin dat hoe  place
2      1       dawg ever fuck bitch start cri confus shit
3      1                   anderson base look like tranni
4      1  shit hear might true might faker bitch told ya

In [15]:
df = df.astype({"tweet": str})

In [16]:
from keras.preprocessing.text import Tokenizer
tokenizer = Tokenizer()
tokenizer.fit_on_texts(df.tweet)
sequences = tokenizer.texts_to_sequences(df.tweet)

In [21]:
# tokenizer.sequences_to_texts_generator(sequences)

In [18]:
# tokenizer.word_index

In [20]:
sequences[:20]

[[303, 929, 652, 244, 45, 77, 32, 31],
 [115, 196, 400, 2899, 10639, 57, 4121, 196, 2, 190],
 [1348, 103, 7, 1, 307, 260, 795, 21],
 [5169, 969, 19, 4, 1030],
 [21, 346, 183, 288, 183, 7238, 1, 377, 113],
 [4754, 21, 885, 805, 897, 711, 53, 7, 2],
 [8494, 509, 48, 127, 1, 12, 85, 21, 11],
 [147, 422, 125, 1, 35, 63, 1163, 25],
 [183, 6, 113, 1, 42, 389],
 [4122, 1284, 342, 10640, 1],
 [15853, 1, 1963, 157, 27, 250, 1539, 4, 268],
 [5703, 1265, 1, 1265, 979],
 [2, 506, 1248, 688, 11, 1049],
 [57, 1, 59, 4],
 [1, 6],
 [1, 10, 153],
 [1, 1571, 251],
 [1, 3],
 [1, 6, 409, 594],
 [112, 1232, 57, 1]]

In [47]:
from keras.preprocessing.sequence import pad_sequences

In [48]:
mlen = max([len(s.split()) for s in df.tweet])
X = pad_sequences(sequences, maxlen = mlen, padding = 'post')

In [49]:
mlen

37

In [50]:
X = pd.DataFrame(X)

In [51]:
X

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,303,929,652,244,45,77,32,31,0,0,...,0,0,0,0,0,0,0,0,0,0
1,115,196,400,2899,10639,57,4121,196,2,190,...,0,0,0,0,0,0,0,0,0,0
2,1348,103,7,1,307,260,795,21,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5169,969,19,4,1030,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,21,346,183,288,183,7238,1,377,113,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56740,982,39715,5812,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56741,24,5444,4461,39716,78,1852,8821,1887,1000,4,...,0,0,0,0,0,0,0,0,0,0
56742,274,102,243,345,98,6867,37,102,0,0,...,0,0,0,0,0,0,0,0,0,0
56743,2142,1504,2206,1898,2207,1595,206,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56744,14,73,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
X.shape

(56745, 37)

In [53]:
Y = df['class']

In [54]:
Y.shape

(56745,)

In [55]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 42)

In [56]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
20376,2243,108,1926,524,2,524,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
53557,14,498,122,59,78,14841,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
54107,297,125,1959,508,13374,3564,1501,1106,41,309,...,0,0,0,0,0,0,0,0,0,0
14400,25,55,584,34,1,30,584,6513,437,454,...,0,0,0,0,0,0,0,0,0,0
12903,98,997,239,1394,31,233,17,23,378,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
y_train.head()

20376    1
28774    0
29324    0
14400    1
12903    0
Name: class, dtype: int64

In [58]:
y_test.shape

(17024,)

In [59]:
x_test.shape

(17024, 37)

## Training model

In [60]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Embedding
from keras.layers import SpatialDropout1D
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

In [61]:
word_count = len(tokenizer.word_index) + 1
word_count

39718

In [62]:
model = Sequential()
model.add(Embedding(word_count, 100, input_length = mlen))
model.add(Conv1D(filters = 32, kernel_size = 8, activation = 'relu'))
model.add(MaxPooling1D(pool_size = 2))
model.add(Conv1D(filters = 32, kernel_size = 1, activation = 'relu'))
model.add(MaxPooling1D(pool_size = 2))
model.add(Flatten())
model.add(Dense(10, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

model.summary()

model.compile(loss='binary_crossentropy', optimizer='adam',metrics=['accuracy'])

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 37, 100)           3971800
_________________________________________________________________
conv1d (Conv1D)              (None, 30, 32)            25632
_________________________________________________________________
max_pooling1d (MaxPooling1D) (None, 15, 32)            0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 15, 32)            1056
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 7, 32)             0
_________________________________________________________________
flatten (Flatten)            (None, 224)               0
_________________________________________________________________
dense (Dense)                (None, 10)                2250
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 11
=================================================================
Total params: 4,000,749
Trainable params: 4,000,749
Non-trainable params: 0
_________________________________________________________________

In [63]:
from keras.callbacks import ModelCheckpoint

filepath = 'model_weights_saved.ckpt'

checkpoint = ModelCheckpoint(filepath, monitor = 'loss', verbose = 1, save_best_only = True, mode = 'min')
desired_callbacks = [checkpoint]

In [64]:
model.fit(x_train, y_train, batch_size = 64, epochs = 5, validation_split = 0.2, verbose = True, callbacks = desired_callbacks)

Epoch 1/5
497/497 [==============================] - 54s 82ms/step - loss: 0.3727 - accuracy: 0.8145 - val_loss: 0.1391 - val_accuracy: 0.9538

Epoch 00001: loss improved from inf to 0.23316, saving model to model_weights_saved.ckpt
INFO:tensorflow:Assets written to: model_weights_saved.ckpt\assets
Epoch 2/5
497/497 [==============================] - 39s 79ms/step - loss: 0.0873 - accuracy: 0.9730 - val_loss: 0.1590 - val_accuracy: 0.9500

Epoch 00002: loss improved from 0.23316 to 0.08853, saving model to model_weights_saved.ckpt
INFO:tensorflow:Assets written to: model_weights_saved.ckpt\assets
Epoch 3/5
497/497 [==============================] - 40s 80ms/step - loss: 0.0435 - accuracy: 0.9884 - val_loss: 0.1889 - val_accuracy: 0.9422

Epoch 00003: loss improved from 0.08853 to 0.04706, saving model to model_weights_saved.ckpt
INFO:tensorflow:Assets written to: model_weights_saved.ckpt\assets
Epoch 4/5
497/497 [==============================] - 39s 79ms/step - loss: 0.0230 - accuracy: 0.9944 - val_loss: 0.2356 - val_accuracy: 0.9410

Epoch 00004: loss improved from 0.04706 to 0.02391, saving model to model_weights_saved.ckpt
INFO:tensorflow:Assets written to: model_weights_saved.ckpt\assets
Epoch 5/5
497/497 [==============================] - 42s 85ms/step - loss: 0.0129 - accuracy: 0.9970 - val_loss: 0.2560 - val_accuracy: 0.9396

Epoch 00005: loss improved from 0.02391 to 0.01390, saving model to model_weights_saved.ckpt
INFO:tensorflow:Assets written to: model_weights_saved.ckpt\assets

## Model validation

In [65]:
loss, accuracy = model.evaluate(x_test, y_test, verbose=True)

532/532 [==============================] - 2s 3ms/step - loss: 0.2541 - accuracy: 0.9366

In [66]:
accuracy

0.9366188645362854

## Saving model

In [67]:
model.save("model.h5py")

INFO:tensorflow:Assets written to: model.h5py\assets

In [69]:
import pickle
with open('tokenizer_obj.pkl', 'wb') as file:
    pickle.dump(tokenizer ,file)

In [68]:
model.load_weights(filepath)

loss, accuracy = model.evaluate(x_test, y_test, verbose=True)
accuracy

532/532 [==============================] - 1s 3ms/step - loss: 0.2541 - accuracy: 0.9366

0.9366188645362854

## Saving train and test split dataframe

In [9]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(df, test_size=0.3, random_state=42)
train_data.to_csv('train_data.csv')
test_data.to_csv('test_data.csv')